<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1055089073970-opt033stcll7d6js4ns064c4l5s8jf9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1055089073970-opt033stcll7d6js4ns064c4l5s8jf9r</string>
	<key>API_KEY</key>
	<string>AIzaSyBdXOFCH0hJes2hvXptSVq5VpScgamSrKo</string>
	<key>GCM_SENDER_ID</key>
	<string>1055089073970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodApp.eCommerceFoodApp</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-food-application</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-food-application.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1055089073970:ios:af4b5b62088d9e121cc12b</string>
</dict>
</plist>